
# input/output directories
inputs/
outputs/
download/

# environment items
.vscode/
.venv/

# project files
.env
src/fnosarcoseg.egg-info/
build/
models/
tests/input
tests/output
tests/download
labkey_filter.py

# ide dirs
.vscode/*
.idea/*

# pycache
__pycache__

# other files
*.nii
*.nii.gz
*.json
*.ipynb