
# input/output directories
inputs/
outputs/
download/

# environment items
.vscode/
.venv/
.venv-test/

# project files
.env
src/fnosarcoseg.egg-info/
build/
tests/data
models/

# ide dirs
.vscode/*
.idea/*

# pycache
__pycache__

*.nii
*.nii.gz
*.json