
# input/output directories
inputs/
outputs/
download/

# environment items
.venv/

# project files
.env
src/fnosarcoseg.egg-info/
build/
models/
labkey_filter.py
dcmtk/
tests/
testing.py

# ide dirs
.vscode/
.idea/
.zed/

# pycache
__pycache__

# specific files
*.nii
*.nii.gz
*.json
*.ipynb
